/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply min-h-full
  }

  body {
    font-size: 15px;

    @apply min-h-full
  }
}

@layer components {
  .navbar {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

    @apply h-16 w-full px-4 flex items-center sticky top-0 justify-between z-50 bg-white/50;
  }

  .card {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;

    @apply rounded-lg bg-white/30 w-full;
  }

}